#banner {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
  background-image: url('../images/the-flatiron-building.png');
}

#process {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.strategy {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

body {
  text-align: center;
}

#newyork {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-image: url('../images/the-flatiron-building.png');
}

.broad {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
